$base-color: #f5f5f5;
$shadow-base : -1px 13px 15px 0px rgba(185, 241, 245, 0.75);
$body-background :  #f2f2f3;
$base-light:  #F6D2E0;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.App-header {
  background-color: $body-background;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);

  #title-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;

    width: 100%;
    background: $base-color;
    padding: 10px 0 10px 0;

    #app-title{
      font-size: 1.5rem;
    }

    #app-logo{
      margin-right: 10px;
      img{
        width: 50px;
      }
    }
  }

  .content-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 75vh;
    overflow: scroll;

    .rendered-note{
      display: flex;
      flex-direction: column;
      padding: 5px;
      border-radius: 5px;
      margin: 10px 0 0 0;
      border: 1px solid black;
      
      .r-note-a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .r-note-title{
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
    
      .r-note-body{
        font-family: 'Indie Flower', cursive;
        font-size: 1.25rem;
      }
    }
  }
}

.app-footer{
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  #add-btn-block{
    background-color: $body-background;
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding: 3px;
    border : 1px solid grey;
    border-radius: 50%;


    #add-btn{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #C8E7F5;
      &:focus{
        background: #78cef7;
      }
    }

  }

  .more-optns{
    display: flex;
    align-items: center;
    justify-content: left;
    background: white;
    border-top: 1px solid grey;
    //border: greenyellow 2px solid;

    .switches{
      //border: rgb(91, 109, 65) 2px solid;
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px 0 5px 0;
      
      .q{
        padding: 0 2px 0 2px;
        border-radius: 20%;
        
        &:hover{
          box-shadow: $shadow-base;  
        }
        &:focus{
          box-shadow: $shadow-base;
        }
      }
    }
  }
}
